
@import '_vars';

// body bg
body {
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    * {
        outline: none;
    }

    @media screen and (max-width: 767px){
        overflow-x: hidden;
    }
    // on modal open
    &.ReactModal__Body--open {
        overflow: hidden;
        @media screen and (max-width: 1400px){
            position: relative;
            height: 100%;        
        }
    }
    #orientation {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: -100%;
        z-index: 100;
        background: rgba(0, 0, 0, 0.95);
        transition: opacity 0.5s ease;
        .inner {
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        h4 {
            color: #fff;
            font-size: 20px;
            line-height: 1.3em;
        }
        @media screen and (orientation:portrait) {
            opacity: 1;
            top: 0;
            transition: all 0.4s none;
        }
    }
}

// hyperlink
a {
    text-decoration: none;
    bottom: 0;
    outline: 0;
}

select{
    @media screen and (max-width: 767px){
        min-width: 515px;
    }
}

// backgrounds
.bg-white {
    background-color: #fff;
}

.bg-black {
    background: #191717;
}

// black bg contaienr
.bg-black-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

// modal styles
.modal-outer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: rgba(0,0,0,0.8);
    @media screen and (max-width: 1400px){
    }
    .modal-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
