
// imports
@import '_vars';


// font face
@font-face {
    font-family: 'frutiger-bold';
    src: url('./modules/fonts/FrutigerLTStd-Bold.eot');
    src: url('./modules/fonts/FrutigerLTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('./modules/fonts/FrutigerLTStd-Bold.woff') format('woff'),
        url('./modules/fonts/FrutigerLTStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'frutiger-light';
    src: url('./modules/fonts/FrutigerLTStd-Light.eot');
    src: url('./modules/fonts/FrutigerLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('./modules/fonts/FrutigerLTStd-Light.woff') format('woff'),
        url('./modules/fonts/FrutigerLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'frutiger-roman';
    src: url('./modules/fonts/FrutigerLTStd-Roman.eot');
    src: url('./modules/fonts/FrutigerLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('./modules/fonts/FrutigerLTStd-Roman.woff') format('woff'),
        url('./modules/fonts/FrutigerLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



// h1
h1 {
    font-size: 110px;
    @media screen and (max-width: 767px){
        font-size: 60px
    }    
}

h2 {
    font-size: 85px;
    @media screen and (max-width: 767px){
        font-size: 50px
    }
        @media screen and (max-width: 1400px){
        font-size: 65px
    }   
}

// h3
h3 {
    font-size: 65px;
    @media screen and (max-width: 1400px){
        font-size: 50px;
    } 
    @media screen and (max-width: 767px){
        font-size: 40px
    }     
}

// h4
h4 {
    font-size: 40px;
    @media screen and (max-width: 767px){
        font-size: 20px
    }
}

// p
p {
    font-size: 18px;
    margin: 0 0 10px;
}

// buttons
.btn {

    border-radius: 5px;
    padding: 15px;
    border: none;
    color: #fff;
    font-size: 40px;
    letter-spacing: 1pt;
    margin: 50px 0;
    cursor: pointer;
    outline: none;
    @media screen and (max-width: 1400px){
        font-size: 30px;
    } 
    &.btn-red {
        background-color: $red;
    }

    &.btn-m {
        min-width: 240px;
        @media screen and (max-width: 1400px){
            min-width: 180px;
        } 
    }
    &.btn-s {
        font-size: 18px;
        padding: 10px 25px 6px;
    }
    &.btn-xl {
        font-weight: bold;
        width: 640px;
        padding: 40px;
        font-size: 65px;
        border-radius: 25px;
        span {
            font-size: 45px;
            @media screen and (max-width: 1400px){
                font-size: 30px;
            } 
        }
        @media screen and (max-width: 1400px){
            width: 500px;
            font-size: 40px;
        } 
        @media screen and (max-width: 767px){
            font-size: 40px;
            width: 450px;
        }              
    }       
}

// dropdown
select {

    background-image: linear-gradient(45deg, transparent 50%, #FFF 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #ed1c24, #ed1c24);
    background-position: calc(100% - 19px) calc(1em + 0px), calc(100% - 10px) calc(1em + 0px), 100% 0px;
    background-size: 11px 10px, 10px 10px, 2.5em 2.5em;
    background-repeat: no-repeat;
    background-color: #dcddde;

    border: thin solid #77787b;
    border-radius: 0;

    color: #666766;
    line-height: 1.5em;

    display: inline-block;
    padding: 0.5em 1.5em 0.5em 1em;
    margin: 0;
    outline: 0;
    min-width: 600px;

    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    @extend .ff-frLight;
}

// ff arial
.ff-arial {
    font-family: Arial;
}

// frutiger-bold
.ff-frBold {
    font-family: 'frutiger-bold';
    font-weight: normal;
}

// frutiger-bold
.ff-frLight {
    font-family: 'frutiger-light';
    font-weight: normal;
}

// frutiger-bold
.ff-frRoman {
    font-family: 'frutiger-roman';
    font-weight: normal;
}


// gray
.fc-gray {
    color: $gray;
}

// dark gray
.fc-darkgray {
    color: $darkgray;
}

// white
.fc-white {
    color: #ffffff;
}

// gray
.fc-gray {
    color: #404041;
}

// lite gray
.fc-litegray {
    color: $litegray;
}

// light gray
.fc-lightgray-a {
    color: $light-gray-a;
}
.fc-lightgray-b {
    color: $light-gray-b;
}

// gradient gray
.fc-gradient-gray {
    background: -webkit-linear-gradient($gray-a, $gray-b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
// gradient red
.fc-gradient-red {
    background: -webkit-linear-gradient($red-a, $red-b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
