.prod-intro h2 {
  margin: 0; }

.prod-intro h3 {
  margin-bottom: 10px; }

.prod-intro .btn {
  margin-top: 35px; }

@media screen and (max-width: 767px) {
  .prod-intro {
    text-align: center; } }
