.details-white {
	h4 {
		font-size: 50px;
		margin-bottom: 20px;
	}

	.animate-container {
		height: 185px;
		@media screen and (max-width: 767px){
			height: 169px
		}
		overflow: hidden;
		> h2:first-child {
			margin-top: 95px;
			@media screen and (max-width: 1400px){
				margin-top: 100px
		}
		}
	}
}
