.details-white h4 {
  font-size: 50px;
  margin-bottom: 20px; }

.details-white .animate-container {
  height: 185px;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .details-white .animate-container {
      height: 169px; } }
  .details-white .animate-container > h2:first-child {
    margin-top: 95px; }
    @media screen and (max-width: 1400px) {
      .details-white .animate-container > h2:first-child {
        margin-top: 100px; } }
