.details-red .main-head {
  margin: 25px 0; }
  @media screen and (max-width: 767px) {
    .details-red .main-head {
      margin: 0; } }

.details-red .animation-wrapper {
  height: 450px;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .details-red .animation-wrapper {
      height: 300px; } }
  .details-red .animation-wrapper .animate-container:first-child {
    margin-top: 250px; }
    @media screen and (max-width: 1400px) {
      .details-red .animation-wrapper .animate-container:first-child {
        margin-top: 300px; } }
